
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgba(210, 210, 210, 0.51);
}

/*Contents*/
.content-full {
	border: 2px solid #777474;
	padding: 0px;
	background-color: #e7e7e7;
	width:100%;
}

.content-top {
	color: white;
	background-color: #334a63;
	font-family: oswald;
	font-size: 10px;
	padding: 0px;
	width:100%;
}

.nomAppli>h2 {
	font-size: 24px;
}

.content-middle {
	background-color: rgba(175, 175, 175, 0.5);
	padding:20px;
}



/**Panel**/
.panel.panel-default.panel-upload {
    margin-bottom: 0px;
    border-radius: 0px;
    width:85%;
}

.panel.panel-default.panel-standards {
    margin-bottom: 0px;
    border-radius: 0px;
    width:85%;
}

.panel.panel-default.panel-linkedmdr {
    margin-bottom: 0px;
    border-radius: 0px;
    width:85%;
}

.panel > .panel-heading {
    background-image: none;
    background-color: rgba(62, 69, 121, 0.78);
    color: white;
}

/**Fa icon**/
.fa {
	color: #53C8EF;
}



<!--Upload css -->

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
