
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: rgba(210, 210, 210, 0.51);
}

/*Contents*/
.content-full {
	border: 2px solid #777474;
	padding: 0px;
	background-color: #e7e7e7;
	width:100%;
}

.content-top {
	color: white;
	background-color: #334a63;
	font-family: oswald;
	font-size: 10px;
	padding: 0px;
	width:100%;
}

.nomAppli>h2 {
	font-size: 24px;
}

.content-middle {
	background-color: rgba(175, 175, 175, 0.5);
	padding:20px;
}



/**Panel**/
.panel.panel-default.panel-upload {
    margin-bottom: 0px;
    border-radius: 0px;
    width:85%;
}

.panel.panel-default.panel-standards {
    margin-bottom: 0px;
    border-radius: 0px;
    width:85%;
}

.panel.panel-default.panel-linkedmdr {
    margin-bottom: 0px;
    border-radius: 0px;
    width:85%;
}

.panel > .panel-heading {
    background-image: none;
    background-color: rgba(62, 69, 121, 0.78);
    color: white;
    font-size:16px;
}

/**Button**/
.btn-upload{
	margin-bottom:10px;
}

/**Table**/

table.table.table-upload {
    font-size: 11px;
    margin-top: 10px;
}

th{
    font-size: 14px;
}

/**Fa icon**/
.fa {
	color: #4f81d1;
	
}

